<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/comparador?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.generate_statistics">true</property>
    <mapping class="br.com.fdxtecnologia.comparador.model.Category"/>
    <mapping class="br.com.fdxtecnologia.comparador.model.Customer"/>
    <mapping class="br.com.fdxtecnologia.comparador.model.User"/>
    <mapping class="br.com.fdxtecnologia.comparador.model.Market"/>
    <mapping class="br.com.fdxtecnologia.comparador.model.Product"/>
    <mapping class="br.com.fdxtecnologia.comparador.model.Cart"/>
    <mapping class="br.com.fdxtecnologia.comparador.model.Address"/>
    <mapping class="br.com.fdxtecnologia.comparador.model.Order"/>
  </session-factory>
</hibernate-configuration>
